{{#if posts}}
  {{#each posts}}
  <div class="my-2">
    <div class="card" style="width: 90%">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">By:
          {{user.username}}
          on
          {{created_at}}</h6>
        <p class="card-text">{{post_text}}</p>
        <a href="/blogpost/{{id}}" class="card-link">View Post</a>
      </div>
    </div>
</div>
  {{/each}}
</div>

{{else}}

<h1>There aren't any posts yet!</h1>

{{/if}}